@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .spinner-border {
    @apply border-t-rose-500 border-r-transparent border-b-transparent border-l-rose-500;
  }

  .nav-link {
    @apply text-xl hover:text-rose-400 duration-300;
  }

  .nav-link.active {
    @apply font-bold border-b-2 border-b-black;
  }

  .special-rose-button {
    @apply px-2 py-1 border-2 rounded-lg text-black;
    @apply hover:text-white;
    @apply hover:animate-pulse hover:scale-105;
    @apply hover:bg-gradient-to-r from-rose-500 to-rose-300 hover:border-white;
    @apply active:scale-95;
    @apply duration-200;
  }

  .rose-button {
    @apply bg-rose-500 duration-300 px-6 py-2 rounded-xl text-white;
    @apply hover:bg-rose-400 hover:scale-105;
  }
}
